<h2>Componente plantilla - <span class="subtitulo">{{titulo}}</span></h2>

<button (click)="cambiar()">Cambiar</button><br><br>

<div *ngIf="administrador; then admin else noAdmin"></div>

<ng-template #admin>
  <div class="mensaje positivo">
    <strong>Eres el administrador de la WebApp</strong>
  </div>
</ng-template>

<ng-template #noAdmin>
  <div class="mensaje negativo">
    <strong>No eres el administrador de la WebApp</strong>
  </div>
</ng-template>

<hr>

<h3>Propiedad input en Angular</h3>
<app-hijo 
  [texto1]="dato_externo"
  [texto2]="identity.tematica"
  (desde_el_hijo)="recibirDatos($event)">
</app-hijo>

<div *ngIf="datos_del_hijo">
  <h3>Datos del hijo: {{datos_del_hijo.nombre}}</h3>
  <h3>Datos del hijo: {{datos_del_hijo.web}}</h3>
</div>