.contenedor { 
    margin: 0 auto;
    width: 85%;
}

.titulo {
    text-align: center;
}

.menu {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: teal;
    display: flex;
}

.menu li{
    flex: auto;
    border-right: 1px solid rgba(0,0,0,.2); 
    text-align: center;
}

.menu li:last-child {
    border-right: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    line-height: 3;
    display: block;
}

.menu a:hover {
    background-color: rgba(0,0,0,.2); 
}

.menu .activado {
    color: #000;
    font-weight: bold;
}